@using MMK.InlineEditors
@using MMK.Widgets
@inject IPageBuilderDataContextRetriever pageBuilderContext
@model SearchWidgetViewModel
<!-- Font Awesome CSS -->
<button class="finder-activator" data-finder-activator><i class="fas fa-search"></i></button>

