<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        @RenderBody()
    </div>
    @*<script src="~/img/calendar/cssjs/jquery-1.4.1.js" type="text/javascript"></script>
    <script src="~/img/calendar/cssjs/fullcalendar.js" type="text/javascript"></script>
    <link href="~/img/calendar/cssjs/fullcalendar.css" rel="stylesheet" type="text/css" />
    <link href="~/img/calendar/cssjs/Site.css" rel="stylesheet" type="text/css" />*@
   
</body>
</html>
