@{
    Layout = "~/Views/Shared/_LayoutHeaderFooter.cshtml";
}
<section id="thank" class="d-flex align-items-center">

    <div class="container">
        <div class="row">
            <div class="col-lg-12 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
                <img src="~/img/thankyou.png" class="img-fluid" alt="">
            </div>
        </div>
    </div>

</section>